doctype html
html
    head
        title= title
        meta(name="description" content="Automated, 24/7 Steam TF2 trading bots for the 21st century, open to all.")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        block stylesheets
        link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css' type="text/css")
    body
        block header
        block sidebar
        block content
        block footer
        script(src="https://code.jquery.com/jquery-3.2.1.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
        block afterjquery